.w-4 {
  width: 1rem;
}
.h-4 {
  height: 1rem;
}

.w-6 {
  width: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.rupee-icon {
  font-size: 2em; /* Adjust size as needed */
  color: #ff5733; /* Change to your desired color */
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
  color:#000;
}
.center-text {
  text-align: center;
}
.card-watermark {
  position: relative;
  overflow: hidden;
}

.card-watermark::before {
  content: attr(data-watermark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.05); /* light grey transparent */
  font-weight: bold;
  white-space: nowrap;
  pointer-events: none;
  z-index: 0;
}

